# Directories #
/build/
/bin/
target/

.idea/*
.gitignore
# OS Files #
.DS_Store
   
# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

*.class
# Package Files #
*.jar
*.war
*.ear
*.db
   
######################
# Windows
######################
   
# Windows image file caches
Thumbs.db
   
# Folder config file
Desktop.ini
src/Line_1.java
src/Line_2.java
src/Line_3.java
src/Line_4.java
src/CodingTest_1.java
src/CodingTest_2.java
src/CodingTest_3.java
src/CodingTest_4.java
